{% extends 'base.html' %}

{% block title %}About - Dark Themed Blog{% endblock %}

{% block content %}
<section id="about">
    <h2 style="font-size: 2.5em; text-align: center; margin-bottom: 20px;">About Me</h2>

    <div style="text-align: justify; line-height: 1.6;">
        <p>
            Since my earliest memories, I have been shaped by a world of contrasts and complexities. Born into the aftermath of the post-Soviet era, in a country where post-communist history's weight bore heavily on everyday life, I grew amidst hardships and bittersweet truths. It was a landscape of stark contrasts—where resilience and adversity coexisted, shaping my understanding of the world from a tender age with no reliable vision to settle with.
        </p>

        <p>
            In those years, amidst the remnants of geopolitical upheavals and societal transformations, I found solace not in the toys denied by circumstance, but in the profound questions that echoed within me. "Why?" and "How?". This innate curiosity was not just a childhood trait but a guiding principle that would define my journey.
        </p>

        <p>
            Education became my path to transcend the limitations of my surroundings. At the age of 17, I proudly graduated high school with honors, a testament and proof of my dedication. The same year, I got on a new chapter at Politechnika Poznańska, where my fascination with technology, particularly Artificial Intelligence (AI), began to take its shape.
        </p>

        <p>
            AI, to me, was not merely a field of study but a beacon of  transformative force with the potential to reshape the very fabric of society. It represented more than just technological advancement, it embodied a philosophical shift towards understanding and leveraging the power of intelligent systems to tackle humanity's most pressing challenges and catastrophes.
        </p>

        <p>
            My academic journey at university immersed me in the complexities of neural networks, machine learning algorithms, and the AI's deployment. Here, I witnessed firsthand the profound impact of AI, and rather satisfactory level of engagement and knowledge base.
        </p>

        <p>
            Beyond the theoretical realm, my passion for AI extended into practical applications. I engaged in research projects that explored AI's role in psychotherapy diagnostics, its potential in environmental sustainability. These experiences not only broadened my technical expertise but also deepened my commitment to harnessing AI for positive societal impact.
        </p>

        <p>
            My journey with AI is not just about academic pursuit; it is a personal mission to contribute meaningfully to the future of technology and society. I envision a future where AI serves as a catalyst for inclusive growth, where it enhances human creativity, and where it addresses global challenges with top precision.
        </p>

        <p>
            Beyond AI, my interests span a wide spectrum of fields—from digital art and astronomy, astrobiology to languages and culinary arts. Each of these interests reflects my curiosity and my belief in the power of interdisciplinary learning. Digital art allows me to explore creativity through technology, while astronomy and astrobiology ignite my fascination with the cosmos and the mysteries of life beyond Earth.
        </p>

        <p style="text-align: center; margin-top: 20px;">
            <em>"Life is like riding a bicycle. To keep your balance, you must keep moving." - Albert Einstein</em>
        </p>

        <p style="text-align: center; margin-top: 10px;">
            <img src="https://media2.giphy.com/media/26tn0ONYXTynFU3Be/giphy.gif?cid=6c09b952j3lwuy5onqas8ndkhzcfqqamh54yf5xzdy8gi1pi&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=g" alt="AI gif" style="max-width: 100%; height: auto;">
        </p>


    </div>
</section>
{% endblock %}
