{% extends 'base.html' %}

{% block title %}Home - Dark Themed Blog{% endblock %}

{% block content %}
<section id="home" style="background: url('https://i.pinimg.com/originals/91/eb/05/91eb0579f74dfe17bac2ee46da0e8354.gif') no-repeat center center fixed; background-size: cover;">
    <div style="height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h2 style="font-size: 3em;">Welcome</h2>
        <p style="font-size: 1.5em;">Official website of Miedzymorze where magic happens :D</p>
    </div>
</section>
{% endblock %}
